<md-dialog id="upgrade" flex="50" aria-label="Decisor Dialog">
  <md-toolbar class="md-accent md-hue-2">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
      <span class="title">Upgrade</span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" translate
                 translate-aria-label="CONTACT.CLOSE_DIALOG">
        <md-icon md-font-icon="icon-close"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ms-scroll>

<md-tabs md-dynamic-height md-center-tabs="true" md-selected="selectedIndex">

  <md-tab ng-click="vm.uncheckServicesCheckbox()">
    <md-tab-label>
      <span>PLAN</span>
    </md-tab-label>

      <md-tab-body>
        <md-content ng-include="'profile/dialogs/upgrade/tabs/plan.html'">
        </md-content>
      </md-tab-body>

  </md-tab>


  <md-tab ng-click="vm.disableServicesCheckbox()">
    <md-tab-label>
      <span >SERVICES</span>
    </md-tab-label>


    <md-tab-body>
      <md-content ng-include="'profile/dialogs/upgrade/tabs/services.html'">
      </md-content>
    </md-tab-body>

  </md-tab>
</md-tabs>

<!--<div ui-view></div>-->

    <md-input-container>
      <input type="text" name="PromotionCode" ng-model="vm.PromotionCode" placeholder="Enter your Promotion Code">
    </md-input-container>

    <md-button ng-click="vm.closeDialog()" style="float: right" type="submit" class="md-primary md-raised" ng-disabled="vm.form.$invalid">
      Cancel
    </md-button>

    <md-button style="float: right" type="submit"  class="md-primary md-raised"
               ng-click="vm.openConfirmUpgradeDialog()" ng-disabled="vm.updateButtonDisabled()">
      OK
    </md-button>

  </md-dialog-content>


</md-dialog>
