﻿<div ng-controller="GroupCrtl">
     <div class="todo">
<table ng-repeat="abc in groups" class="table">
        <thead>
             <tr>
                 <td colspan="4">
                     <h3 > {{abc.groupname}}</h3>
                 </td>
             </tr>
             <tr>
                 <td style="width:10%;"></td>
                 <td style="width:10%;"><b>Group</b></td>
                 <td style="width:30%;"><b> Description</b></td>
                 <td style="width:30%;"><b>User</b></td>
                 <td style="width:20%;"></td>
             </tr>
         </thead>
         <tbody >
             <tr >
                <td><img src="img/1.png" alt="" class="userImg"/></td>
                 <td>{{abc.groupname}}</td>
                 <td>{{abc.description}}</td>
                 <td role="{{abc.groupid}}" contextmenu="{{abc.groupname}}" x-lvl-drop-target='true' x-on-drop="dropped(dragEl, dropEl)">
                     <span ng-repeat="xyz in abc.lists">
                     <span ng-repeat="aa in xyz.people">
                        <a href="#" ng-click="deleteUser(aa.name,abc.groupid)">{{aa.name}}</a> ,
                     </span>
                     </span>
                 </td>
                 <td><md-button class="add-file-button md-fab md-warn"
                              ng-click="updateGroup(abc)" aria-label="Add file"
                            translate-attr-aria-label="CONTACT.NEW"
                                        style="display: inline-block">
                        <md-icon md-font-icon="icon-border-color"></md-icon>
                    </md-button>
               
                     <md-button class="add-file-button md-fab md-warn"
                                ng-click="deleteGroup(abc)" aria-label="Add file"
                                translate-attr-aria-label="CONTACT.NEW"
                                style="display: inline-block">
                         <md-icon md-font-icon="icon-block-helper"></md-icon>
                     </md-button>
                 </td>
             </tr>
         </tbody>
     </table>
 </div>
</div>