<md-dialog class="edit-group" aria-label="Edit Group">
  <form class="md-inline-form">
    <md-toolbar class="md-accent md-hue-2">
      <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <span class="title">Edit Group</span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog" tranlate
                   translate-aria-label="CONTACT.CLOSE_DIALOG">
          <md-icon md-font-icon="icon-close"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ms-scroll>
      <md-input-container class="md-block">
        <label>Groupname</label>
        <input ng-model="name" type="text">
      </md-input-container>
        <md-input-container class="md-block">
            <label>Description</label>
            <input ng-model="description" type="text">
        </md-input-container>
     

      <md-button ng-click="UpadteGroup()" style="float: right" type="submit" class="md-primary md-raised" ng-disabled="vm.form.$invalid">
        Save
      </md-button>

      <md-button ng-click="vm.closeDialog()" style="float: right" type="submit" class="md-primary md-raised">
        Cancel
      </md-button>
    </md-dialog-content>


  </form>
</md-dialog>
