/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
#container {
   width : 300px;
   height: 300px;
   background-color: white;
}

.shape {
    position: relative !important;
    width : 40px;
    height: 40px;
    background-color: white;
}
 .lvl-over {
    border: 2px dashed black !important;
  }
 
  .lvl-target {
    background-color: #ddd; 
    opacity: .5;
  }
 
  [draggable] {
    cursor: move;
  }

  .white-bg.md-whiteframe-1dp {
    padding: 0 20px;
}
  .title h2 {
    font-size: 20px;
}
  .layout-gt-md-row > .flex-gt-md-33, .layout-row > .flex-gt-md-33{
      max-width:23.33%;
      float:right;
  }

  .md-accent-bg.addgrp.layout-align-space-between-center.layout-row {
    background: #f8f8f8 none repeat scroll 0 0;
    padding: 0 10px;
    margin-top:20px;
    text-transform:uppercase;
}
  .userImg{
      width:30px;
  }

 .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th
  {
      vertical-align:middle !important;
  }

 .table h3
 {
     font-size:19px;
 }

 .todo.ng-scope {
    padding: 4px 0;
}

 .ng-scope.ng-isolate-scope {
    overflow: auto;
}

 .profile-box.friends.md-whiteframe-1dp.white-bg.layout-column {
  height: 490px;
}
 #container
 {
     height:100%;
 }
 .profile-box.friends.md-whiteframe-1dp.white-bg.layout-column {
    height: 490px;
}