﻿<div ng-controller="GroupUserCrtl">
   <div class="todo" ng-repeat="abc in groupsUsers">

      <span x-lvl-draggable='true' contextmenu="{{abc.username}}" role="{{abc.userid}}">{{abc.username}}</span>
    </div>
</div>